@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* Navbar Sylying */
.navbar {
    padding: 30px 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    font-family: 'Ubuntu', sans-serif; 
    transition: all 0.3s ease;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color:darkgray;
    transition: all 0.3s ease;
}

.navbar .logo a span:hover{
    color: slateblue;
}


.navbar .menu li {
    list-style-type: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: slateblue;
}

.navbar.sticky{
    padding: 30px 0;
    background: #777;
}

.navbar.sticky .logo a span {
    color:slateblue;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;    
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: slateblue;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* Home section stylying */
.home {
    display: flex;
    background: url("images/med-school-photo.jpg") no-repeat center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color:#fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
    }

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px, 0;
}

.home .home-content .text-3 span{
    color:slateblue;
    font-weight: 500;
    text-shadow: white;
}
.home .home-content a { 
    display: inline-block;
    background: slateblue;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid slateblue;
    transition: all 0.3s ease;
} 

.home .home-content a:hover{
    color:slateblue;
    background: none;
    }

/* All similar stylings  */

section{
    padding: 100px 0;
}
.about, .education, .exp, .books, .contact, footer{
    font-family: "Poppins", sans-serif;
}
.about .about-content, .education .education-content, .exp .exp-content, .contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:darkgrey;
    transform: translateX(-50%);    
}
section .title::after {
        position: absolute;
        bottom: -12px;
        left: 50%;
        font-size: 18px;
        color: slateblue;
        padding: 5px;
        background:#fff;
        transform: translateX(-50%);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;    
}

/* About section styling */
.about .title::after{
    content: "who I am";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
} 
.about .about-content .right .text span{
    color: slateblue;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: slateblue;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 1px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid slateblue;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: slateblue;
    background: none;
}

/* education section start */
.education, .books{
    color: #fff;
    background: #111;
}
.education .title::before, .books .title::before{
    background: #fff;
}
.education .title::after, .books .title::after{
    background: #111;
    content: "what I know";    
}
.education .education-content .card{
    width: calc(25% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    transition: all 0.3s ease
}
.education .education-content .card a{    
    color: #fff;
}
.education .education-content .card:hover{
    background: slateblue;
}
.education .education-content a:hover{
    text-decoration: underline;
}
.education .education-content .card .box{    
    border: 1px red;
    transition: all 0.3s ease;
}
.education .education-content .card:hover .box{
    padding-top: 20px;
    transform: scale(1.05);
}
.education .education-content .card i{
    font-size: 40px;
    color: slateblue;
}
.education .education-content .card:hover i{
    color: #fff;
    transition: color 0.3s ease;
}
.education .education-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.education .education-content .card input{
    display: none;
    visibility: hidden;
}
.education .education-content .card label{
    margin: .25em;
    display: none;
    padding: .5em;
    text-align: center;
    color: #333;
}
.education .education-content .card:hover label{   
    transition: all 0.3s ease; 
    cursor: pointer;
    display: block;
}
.education .education-content .card label:hover{
    text-decoration: underline;
}
.education .education-content .card label::before{
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    content: "+";   
    border: 2px #fff solid;
    border-radius: 100%;
    display: inline-block;
    width: 33.3333334px;
    height: 32px;
    margin: -5px 5px;
    vertical-align: text-top;
}
.education .education-content .box .expand{
    text-align: left;
    font-size: 15px;
}
.education .education-content .card #expand{
    height: 0;
    overflow: hidden;
    transition: .7s ease;    
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
}
.education .education-content .card #toggle:checked ~ #expand,
.education .education-content .card #toggle-2:checked ~ #expand,
.education .education-content .card #toggle-3:checked ~ #expand,
.education .education-content .card #toggle-4:checked ~ #expand{
    transition: all 0.7s ease;
    height: fit-content;
    width: 105%;    
    padding-left: 15px;
    padding-right: 0px;
    padding-top: .5em;
    padding-bottom: 1em;
} 
.education .education-content .card #toggle:checked ~ label::before,
.education .education-content .card #toggle-2:checked ~ label::before,
.education .education-content .card #toggle-3:checked ~ label::before,
.education .education-content .card #toggle-4:checked ~ label::before{
    content: "-";
}
.education .education-content .card #toggle:checked ~ .expand .secondary,
.education .education-content .card #toggle-2:checked ~ .expand .secondary,
.education .education-content .card #toggle-3:checked ~ .expand .secondary,
.education .education-content .card #toggle-4:checked ~ .expand .secondary{
    padding-left: 20px;
    padding-top: 10px;
}
.education .education-content .card #toggle:checked ~ .expand .tert,
.education .education-content .card #toggle-2:checked ~ .expand .tert,
.education .education-content .card #toggle-3:checked ~ .expand .tert,
.education .education-content .card #toggle-4:checked ~ .expand .tert{
    padding-left: 20px;
}
.education .education-content .card #toggle:checked ~ .expand .tert .subject,
.education .education-content .card #toggle-2:checked ~ .expand .tert .subject,
.education .education-content .card #toggle-3:checked ~ .expand .tert .subject,
.education .education-content .card #toggle-4:checked ~ .expand .tert .subject{
    font-size: 17px;
    color: slateblue;
    justify-content: center;
}
.education .education-content .card #toggle:checked ~ .expand .text,
.education .education-content .card #toggle-2:checked ~ .expand .text,
.education .education-content .card #toggle-3:checked ~ .expand .text,
.education .education-content .card #toggle-4:checked ~ .expand .text{    
    padding: 0;
    color: slateblue;
}
.education .education-content .card:hover #toggle:checked ~ .expand .text,
.education .education-content .card:hover #toggle-2:checked ~ .expand .text,
.education .education-content .card:hover #toggle-3:checked ~ .expand .text,
.education .education-content .card:hover #toggle-4:checked ~ .expand .text{
    color: #fff;
    transition: all 0.3s ease;
}

/* Experience section start */
.exp .title::after{
    content: "what I've done"
}
.exp .exp-content .column{
    width: calc(50% - 30px);
}
.exp .exp-content .left video{
    height: 100vh;
    width: 500px;
    object-fit: cover;
    border-radius: 6px;
}
.exp .exp-content .right h3{
    text-decoration: underline;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
} 
.exp .exp-content .right h4{  
    color: #333;
    margin-bottom: 10px;
}
.exp .exp-content .right h5{  
    color: #444;
    margin-bottom: 10px;
}
.exp .exp-content .right ul{
    padding-left: 20px;
    padding-bottom: 20px;
}
.exp .exp-content .right li:hover{
    text-decoration: underline;
    transform: scale(1.05);
    transition: all 0.3s ease;
}


/* books section styling  */
.books .title::after{
    content: "I've Read";
}
.books .carousel a{
    color: #fff;
}
.books .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.books .carousel .card:hover .box{
    transform: scale(1.05);
}
.books .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.books .carousel .card:hover{
    background: slateblue;
}
.books .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.books .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: inherit;
    border-radius: 50%;
    border: 5px solid slateblue;
    transition: all 0.3s ease;
}
.books .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    margin: 0 5px;
    height: 13px;
    width: 13px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid slateblue!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active, .owl-dot:hover{
    background: slateblue!important;
}


/* contact section styling */
.contact .title::after{
    content: "My information";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .column .left p{
    text-align: justify;
}
.contact .contact-content .column .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: slateblue;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field, .contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    width: 100%;
    height: 80px;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid slateblue;
    background: slateblue;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: slateblue;
    background: none;
}

/* footer section styling  */
footer{
    background: #111;
    padding: 20px 23px;  
    color: #fff;  
}
footer span a{
    color: slateblue;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}



/* responsive media query start  */
@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
        }
    .exp .exp-content .left video{
        height: 350px;
        width: 350px;
        }
    .education .education-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .exp .exp-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
}


@media (max-width: 991px){
    .max-width{
        padding: 0 50px;      
    }
}

@media (max-width: 947px){    

    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        transition: all 0.3s ease;
        text-align:center;
        background: #111;
        padding-top: 80px;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;        
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    } 
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;

    }
    .exp .exp-content .right{
        flex: 100%;
    }
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px){   
    .max-width{
        padding: 0 23px;
    }    
    .home .home-content .text-2{
        font-size: 60px;        
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
        padding: 9px 25px;
    } 
    .education .education-content .card{
        width: 100%;
    }
}

@media (max-width: 500px){   
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 50px;        
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
}

        